:root {
  color-scheme: light;

  --clr-text: #21191c;
  --clr-text-active: #2a141e;
  --clr-text-inactive: #514247;
  --clr-text-strong: #000000;

  --clr-bg: #fffbff;
  --clr-card-bg: #f9f1f9;
  --clr-bar-bg: #f6ecf4;
  --clr-bar-bg-secondary: #f4e4ee;

  --clr-primary: #ffdae4;
  --clr-secondary: #ffdae4;

  --clr-secondary-active: #ffffff;
  --clr-secondary-active-bg: #983f66;
  --clr-secondary-inactive: #837376;
  --clr-secondary-inactive-bg: #f3dee0;

  --clr-modal-bg: #f3e6ef;
  --clr-modal-bg-inactive: #f3dde2;
  --clr-modal-bg-active: #ffdae4;
  --clr-modal-text-inactive: var(--clr-text);
  --clr-modal-text-active: #3e0020;

  --clr-dark-accent: #ece7eb;
  --clr-separator: #d9c3cb;
  --clr-alert: #bd1e1b;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --clr-text: #ece0e2;
  --clr-text-active: #ffdbe4;
  --clr-text-inactive: #d5c2c8;
  --clr-text-strong: #ffffff;

  --clr-bg: #21191c;
  --clr-card-bg: #2a2124;
  --clr-bar-bg: #312529;
  --clr-bar-bg-secondary: #3a2c31;

  --clr-primary: #79284f;
  --clr-secondary: #5a3f4a;

  --clr-secondary-active: #5e1138;
  --clr-secondary-active-bg: #ffafcd;
  --clr-secondary-inactive: #9d8c91;
  --clr-secondary-inactive-bg: #514247;

  --clr-modal-bg: #382a2f;
  --clr-modal-bg-inactive: #514247;
  --clr-modal-bg-active: #79284f;
  --clr-modal-text-inactive: var(--clr-text);
  --clr-modal-text-active: #ffdae4;

  --clr-dark-accent: #332c2f;
  --clr-separator: #504146;
  --clr-alert: #ffb4ab;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);

  min-height: 100vh;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: color 0.2s, background-color 0.2s;
}

button {
  font: inherit;
}
